body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: rgb(39, 4, 136);
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
}

#stories {
  max-width: 90%;
  margin: 20px auto;
  padding: 10px;
}

@media screen and (min-width: 1170px) {
  #stories {
      max-width: 60%;
  }
}

.loading {
  font-style: italic;
  color: #888;
  display: none; 
}

.btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1.5rem;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #2267b0;
  color: #fff;
  border: none;
  border-radius: 9px;
  margin-bottom: 1rem;
  width: 5rem;
  font-size: 15px;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #0966c9;
  font-size: 1.3rem;
  font-weight: bold;
}

a:hover {
  color: #333;
}

.story-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}



.story-content {
  display: flex;
}

.story-number {
  background-color: #3498db;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-top: 1.5rem;
}

.story-details {
  flex: 1;
}


#page-info {
  position: absolute;
  top: 50px;
  right: 30px;
  font-size: 25px;
  color: #333;
  font-weight: bold;
}
